aside.main-sidebar.hidden-print

	section.sidebar
		.user-panel
			.pull-left.image
				img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg', alt='User Image')
			.pull-left.info
				p John Doe
				p.designation Frontend Developer

		// Sidebar Menu
		ul.sidebar-menu
			li.active
				a(href='index.pug')
					i.fa.fa-dashboard
					span Dashboard

			li.treeview
				a(href='#')
					i.fa.fa-laptop
					span UI Elements
					i.fa.fa-angle-right
				ul.treeview-menu
					li
						a(href='bootstrap-components.pug')
							i.fa.fa-circle-o
							|  Bootstrap Elements
					li
						a(href='http://fontawesome.io/icons/', target="_blank")
							i.fa.fa-circle-o
							|  Font Icons
					li
						a(href='ui-cards.pug')
							i.fa.fa-circle-o
							|  Cards
					li
						a(href='widgets.pug')
							i.fa.fa-circle-o
							|  Widgets

			li
				a(href='charts.pug')
					i.fa.fa-pie-chart
					span Charts

			li.treeview
				a(href='#')
					i.fa.fa-edit
					span Forms
					i.fa.fa-angle-right
				ul.treeview-menu
					li
						a(href='form-components.pug')
							i.fa.fa-circle-o
							|  Form Components
					li
						a(href='form-custom.pug')
							i.fa.fa-circle-o
							|  Custom Components
					li
						a(href='form-samples.pug')
							i.fa.fa-circle-o
							|  Form Samples
					li
						a(href='form-notifications.pug')
							i.fa.fa-circle-o
							|  Form Notifications

			li.treeview
				a(href='#')
					i.fa.fa-th-list
					span Tables
					i.fa.fa-angle-right
				ul.treeview-menu
					li
						a(href='table-basic.pug')
							i.fa.fa-circle-o
							|  Basic Tables
					li
						a(href='table-data-table.pug')
							i.fa.fa-circle-o
							|  Data Tables

			li.treeview
				a(href='#')
					i.fa.fa-file-text
					span Pages
					i.fa.fa-angle-right
				ul.treeview-menu
					li
						a(href='blank-page.pug')
							i.fa.fa-circle-o
							|  Blank Page
					li
						a(href='page-login.pug')
							i.fa.fa-circle-o
							|  Login Page
					li
						a(href='page-lockscreen.pug')
							i.fa.fa-circle-o
							|  Lockscreen Page
					li
						a(href='page-user.pug')
							i.fa.fa-circle-o
							|  User Page
					li
						a(href='page-invoice.pug')
							i.fa.fa-circle-o
							|  Invoice Page
					li
						a(href='page-calendar.pug')
							i.fa.fa-circle-o
							|  Calendar Page
					li
						a(href='page-mailbox.pug')
							i.fa.fa-circle-o
							|  Mailbox
					li
						a(href='page-error.pug')
							i.fa.fa-circle-o
							|  Error Page

			li.treeview
				a(href='#')
					i.fa.fa-share
					span Multilevel Menu
					i.fa.fa-angle-right
				ul.treeview-menu
					li
						a(href='blank-page.pug')
							i.fa.fa-circle-o
							|  Level One
					li.treeview
						a(href='#')
							i.fa.fa-circle-o
							span  Level One
							i.fa.fa-angle-right
						ul.treeview-menu
							li
								a(href='blank-page.pug')
									i.fa.fa-circle-o
									|  Level Two
							li
								a(href='#')
									i.fa.fa-circle-o
									span  Level Two
